@model Client

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model != null)
{
	<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.FullName</li>
	</ol>
	</nav>
	

	<div>
		<h4>Client</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				ID
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ID)
			</dd>
			<dt>
				Ime i prezime
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FullName)
			</dd>
			<dt>
				Email
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
			<dt>
				Spol
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Gender)
			</dd>
			<dt>
				Adresa
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Address)
			</dd>
			<dt>
				Tel.
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PhoneNumber)
			</dd>
			<dt>
				Grad
			</dt>
			<dd>
				@Model?.City?.Name
			</dd>
			<dd><a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-info">Uredi</a></dd>
		</dl>
	</div>

}
else
{
	<div class="alert alert-danger">
		Nije odabran ispravni ID klijenta.
	</div>

}

